article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}
ul {
	list-style-type: none;
}
h2 {
	font-size: 2em;
	color: #753616;
	border-bottom: 1px solid #F2C875;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
}
h3 {
	font-family: 'Satisfy', cursive;
	color: #AF4B08;
}
/*------------------------------------------------Header and Footer-------------------------------------------------------*/
header, footer {
	font-family: 'Montserrat', sans-serif;
}
/*------------------------------------------------------Header------------------------------------------------------------*/
.mid-header{
	position: fixed;
    top: 36px;
    z-index: 15;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0;
    height: 155px;
    background: #CC7809;
	color: #F7F7F5;
	font-size: 1em;
	background: #CC7809 url(http://s3.postimg.org/6msqgtoxr/decoration.png) top center repeat-x;
    background-size: 13px 3px;
}
input[type="text"] {
	margin-top: 5px;
	background-color: #F7F7F5;
	width: 150px;
}
nav {

}
nav li {
	display: inline-block;
	/*min-width: 70px;*/
	/*height: 18px;*/
    margin: 85px 0 0 1em;
    text-align: center;
}
nav .logo {
	width: 155px;
	margin-top: -25px;
	vertical-align: text-bottom;
	/*background: url(http://s18.postimg.org/7kgepktv9/logo.png) center no-repeat;*/
	z-index: 20px;
	
}
nav .logo img {
	height: 155px;
}
nav .container {
	/*max-width: 960px;*/
	margin-left: auto;
	margin-right: auto;
}
.top-header {
	position: fixed;
	top: 0;
	z-index: 15;
    width: 100%;
	height: 36px;
	background: #FCEABE;
	font-size: 0.7em;
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: #9D9E9E;
}
.top-header .container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.top-header li {
	padding: 7px;
	/*bottom: 20px;*/
	display: inline-block;
    min-width: 60px;
    margin-bottom: 0px;
}
/*------------------------------------------------------Footer------------------------------------------------------------*/
footer {
	min-height: 100px;
	background: #FFF5B0;
	color: #CC7809;
	font-size: 0.8em;
	/*margin-top: 130px;*/
}
footer h3 {
	font-size: 1.6em;
}
.social-media, .contact {
	margin-top: 20px;
	min-width: 350px;
	display: inline-block; 
}
.contact {
	margin-left: 0px;
}
.social-media {
	border-right: 1px solid #CC7809;
}
.copyright {
	font-size: 0.6em;
	margin: 20px;
}
/*------------------------------------------------------Shop------------------------------------------------------------*/
.essential-oils, .cosmetics, .healthy-environment {
	margin-top: 20px;
	margin-bottom: 40px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 25px;
    padding-right: 25px;
}
.text-center {
	text-align: center;
}
.main {
	margin-top: 40px;
	top: 240px;
	z-index: 10;
	min-width: 100%;
    padding-top: 191px;
}
.main .container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.shop li {
	text-align: center;
	margin-top: -15px;
	color: #0CC8F4;
	font-size: 1.2em;
}
.shop .content {
	padding: 20px; 
	background: #F7F7F5;
}
.content li {
	margin-top: 20px;
}
.arrow {
	height: 40px;
}
.products li {
	font-family: 'Satisfy', cursive;
	color: white;
}
.product-box {
	height: 250px;
	width: 250px;
	background: white;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.product-box img {
	width: 210px;
	height: 210px;
	margin-top: 20px;
}
.test {
	width: 250px;
	height: 250px;
	background: #F2C875;
	opacity: 0.5;
	position: absolute;
}
.product-box h3 {
	position: absolute;
	margin-top: 10%;
	z-index: 10;
	margin-left: 20%;
	margin-right: 20%;
}
label, input {
	display: inline-block;
	margin-right: 10px;
}
.arrow-left img {
	height: 60px;
	position: absolute;
	top: 50%;
	margin-left: 20px;
    right: 97%;
}
/*------------------------------------------------------@media------------------------------------------------------------*/
@media (min-width: 750px) {

}