body{
	font-family: 'Source Sans Pro', sans-serif;
}
ul {
	list-style-type: none;
}
h2 {
	font-size: 2em;
	color: #CC7809;
	border-bottom: 1px solid #F2C875;
	text-transform: capitalize;
}
h3 {
	font-family: 'Satisfy', cursive;
}
.essential-oils, .cosmetics, .healthy-environment {
	margin-top: 20px;
	margin-bottom: 40px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 25px;
    padding-right: 25px;
}
.text-center {
	text-align: center;
}
/*------------------------------------------------Header and Footer-------------------------------------------------------*/
header, footer {
	font-family: 'Montserrat', sans-serif;
}
/*------------------------------------------------------Header------------------------------------------------------------*/
nav {
	background: #FCEABE;
	height: 155px;
	color: #CC7809;
	font-size: 0.8em;
}
nav li {
	display: inline-block;
	min-width: 80px;
	height: 18px;
    margin: 85px 0 0 1em;
}
nav .logo {
	width: 170px;
	margin-top: -85px;
	vertical-align: text-top;
	/*background: url(http://postimg.org/image/r7wib0e9x/) top center repeat-x;*/
}
nav .container {
	max-width: 900px;
}
.top-header {
	height: 40px;
	background: #F7F7F5;
	font-size: 0.7em;
}
.top-header li {
	display: inline-block;
    color: #9D9E9E;
    min-width: 60px;
}
/*------------------------------------------------------Footer------------------------------------------------------------*/
footer {
	min-height: 100px;
	background: #FFF5B0;
	color: #CC7809;
	font-size: 0.8em;
}
footer .container{
	max-width: 1000px;
}
footer h3 {
	font-size: 1.2em;
}
.social-media, .contact {
	margin-top: 20px;
	min-width: 350px;
	display: inline-block; 
}
.social-media {
	border-right: 1px solid #CC7809;
}
.copyright {
	font-size: 0.6em;
	margin: 20px;
}