  .confirmation h2 {
    display: block;
    font-size: .85em;
  }
  .loginPage form, .adminPage form {
    margin-top: 50px;
  }
  .loginPage, .adminPage {
    width: 85%;
    margin: 0 auto;
  }
  .loginPage h2, .adminPage h2 {
    display: block;
    font-size: .85em;
  }
  .loginPage h1, .adminPage h1 {
    display: block;
    font-size: 1em;
    background: #F2C875;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
    margin-top: 50px;
    margin-bottom: 5px !important;
  }
  .loginPage input, .adminPage input  {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 15px;
  }
  .loginPage button, .adminPage button  {
    width: 100%;
    background: #CC7809;
    font-size: 1.25em;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  .loginPage button:hover, .adminPage button:hover  {
    width: 100%;
    background: #753616;
    font-size: 1.5em;
    color: white;
    font-family: 'Satisfy', sans-serif;
  }
  .confirmation .columns {
  background: rgba(249, 247, 220, 0.25);
  }
  .orderConfirmation h2{
    margin-bottom: 5px;
  }
  .confirmation input {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 15px;
  }
  .confirmation h1 {
    display: block;
    font-size: 1em;
    background: #F2C875;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
  }
  .confirmation form {
    margin-top: 50px;
  }
  .confirmation .row {
    border: 2px;
  }
  .confirmation button {
    width: 100%;
    background: #CC7809;
    font-size: 1.25em;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  .confirmation button:hover {
    width: 100%;
    background: #753616;
    font-size: 1.5em;
    color: white;
    font-family: 'Satisfy', sans-serif;
  }
  .savioImage {
    margin-top: 60px;
  }
  .savioWidth #name {
    background: rgba(249, 247, 220, 0.50);
    padding-top: 20px;
  }
  .fitMargin {
    padding-left: 30px;
    margin: 0;
    background: rgba(249, 247, 220, 0.25);
  }
  .pictureCart{
    height: 150px;
    width: 150px;
  }
    #quantity input {
    width: 50%;
    padding-left: 20px;
  }
  button .svgCart {
    height: 100px;
    width: 100px;
    padding: 0;

  }
  .savioWidth button {
    position: relative;
    bottom: 100px;
    border: none;
    background: none;
  }
  #div1  {
    background: url(../img/lav_feild.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  .savioWidth #input_quantity h2{
    margin-bottom: 5px;
  }
  .plusMoins {
    margin-bottom: 0px;
    background-color: none;
    font-size: 2em;
    font-family: Arial;
    width: 40px !important;
    height:40px !important;
    color: #696969;
    border: none;

  }
  #plus, #moins {
    background: rgba(238,232,170, 0.5);
    margin-bottom: 0;
    border: none;
    font-family: Arial;
    font-size: 3em;
    color: silver;
    width: 20px !important;
  }

  #plus:hover, #moins:hover {
    background: rgba(112,128,144, 0.8);
    font-size: 2em;
    color: #E6E6FA ;
  }
