<!-- Checkout Header -->

<div class="container">
	<div class="row">
		<h2 class="twelve columns block">Checkout</h2>
	</div>
</div>

<!-- Product Checkout Details -->
	<!-- Image Container -->

<div class="container">
	<div class="row">
			<table class="u-full-width">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Description</th>
						<th>Category</th>
						<th>Quantity</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
    				<tr ng-repeat="product in Ctrl.Cart">
    					<td><img ng-src="{{product.image}}"></td>
        				<td>{{product.name}}</td>
       					<td>{{product.description}}</td> 
        				<td>{{product.category}}</td> 
        				<td>{{product.orderQuantity}}</td>
        				<td>{{product.price * product.orderQuantity | currency: "$"}}</td>
    				</tr>
    			</tbody>
			</table>
		<div>
	</div>
</div>
</div>

<!-- Totals Checkout Section -->

<div class="container">
	<div class="row text-center">
		<div class="offset-by-four eight columns">Subtotal: {{Ctrl.subtotal | currency: "$"}}</div>
		<div class="offset-by-four eight columns">Tax: {{Ctrl.tax | currency: "$"}}</div>
		<div class="offset-by-four eight columns"><strong>Total: {{Ctrl.total | currency: "$"}}</strong></div>
	</div>
</div>
		
<!--Line Break--><h2> </h2>

<!--Checkout Button -->

<div class="container">
	<div class="row text-center">
		<div class="offset-by-four eight columns"><button class="button button-primary" ng-click="Ctrl.gotoConfirmation()">Checkout</button></div>
	</div>
</div>