<form novalidate name="frm">
	<div>
		First Name:
		<input name="firstName" type="text" ng-model="Ctrl.form.firstName" placeholder="First Name" required></input>
	    <span ng-messages="frm.firstName.$dirty && frm.firstName.$error">
	      	<span ng-message="required">Required!</span>
	    </span>
    </div>
    <div>
		Last Name:
		<input name="lastName" type="text" ng-model="Ctrl.form.lastName" placeholder="Last Name" required></input>
	    <span ng-messages="frm.lastName.$dirty && frm.lastName.$error">
	      	<span ng-message="required">Required!</span>
	    </span>
    </div>
	<div>
		Email:
		<input name="email" type="email" ng-model="Ctrl.form.email" placeholder="Email" ng-minlength="5" required></input>
	    <span ng-messages="frm.email.$dirty && frm.email.$error">
	      	<span ng-message="required">Required!</span>
	       	<span ng-message="email">Not an Email</span>
	        <span ng-message="minlength">Too Short!</span>
	    </span>
    </div>
    <div>
		Address:
		<input name="address" type="text" ng-model="Ctrl.form.address" placeholder="Address" required></input>
	    <span ng-messages="frm.address.$dirty && frm.address.$error">
	      	<span ng-message="required">Required!</span>
	    </span>
    </div>
    <div>
		Credit Card Number:
		<input name="cardNum" type="number" ng-model="Ctrl.form.cardNumber" placeholder="Credit Card Number" ng-minlength="16" ng-maxlength="16" required></input>
	    <span ng-messages="frm.cardNum.$dirty && frm.cardNum.$error">
	      	<span ng-message="required">Required!</span>
	      	<span ng-message="minlength">Too short!</span>
	      	<span ng-message="maxlength">Too long!</span>
	    </span>
    </div>
    <button class="button button-primary" ng-click="Ctrl.sendOrder()">Checkout</button>
</form>