		<div class="row">

			<div class='four columns'>

				
				<!--<img class="image" src="img/image.png">-->
						<!--<p> name:' ',</P>
						<p> description:' ',</p>
						<p> image:' ',</P>
						<p> category:' ',</P>
						<p> price:' ',</P>
						<p> quantity:' ',</p>
						<p> status:' ',</p> -->
			</div>

			<div class='eight columns'>

				<div class='row u-cf'>
					<div class='twelve columns' id='name'>name: {{name}}</div>
				</dir>
				
				<div class='row u-cf'>
					<div class='twelve columns' id='description'>description: {{description}}</div>
				</dir>
				
				<div class='row'>
				
					<div class='four columns' id='quantity'>quantity <input type="text"> </div>
				
					<div class='four columns' id='status'>status: {{status}}</div>
					
					<div class='four columns' id='price' placeholder='total price'>price: {{price}}</div>
					
				</div>

			</div>

		</div>